<div class="footer">
    <ul class="nav">
        <li class="nav-item btn btn-dark">
            <a class="nav-link active" aria-current="page" href="<%= root_url  %>">
                <i class="fa-sharp fa-solid fa-house"></i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav-item btn btn-dark">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>Explore</p>
            </a>
        </li>
        <li class="nav-item btn btn-dark">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-user"></i>
                <p>Mypage</p>
            </a>
        </li>
    </ul>
</div>