<div class="micropost_create_comment collapse card card-body" id="collapseExample">
    <p>コメントをする</p>
    <%= render 'microposts/show_comment_form' %>
</div>
<%= render 'microposts/show_comment_feed'  %>