// consts
$wrapper_width: 375px;
$header_height: 65px;
$footer_heigth: 60px;
$wrapper_bg_color: rgb(18, 19, 20);
$notion_gray: rgba(255, 255, 255, 0.81);
$notion_font_gray: rgb(158, 150, 137);
$divider_gray: rgb(102, 94, 83);

// feed_consts
$feed_content_bg_color: rgb(28, 30, 31);
$card_border: rgba(140, 130, 115, 0.17);

// components

@mixin gray_dotted_underline {
    border-bottom: dotted;
    border-color: $notion_gray;
    border-width: 1px;
}
@mixin gray_plane_underline {
    border-bottom: double;
    border-color: $divider_gray;
    border-width: 2px;
}

// application base wire

body,
html {
    width: $wrapper_width;
    max-width: $wrapper_width;
    margin: auto;
    background-color: $wrapper_bg_color;
    color: $notion_gray;
}
.app_wrapper {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    margin: inherit;
    background-color: $wrapper_bg_color;
    border: 1px solid $divider_gray;
    padding: 8px;
}
.app_content {
    width: 100%;
    margin: inherit;
    height: calc(100% - ($header_height + $footer_heigth + 20px));
    overflow-y: scroll;
    padding-top: 8px;
}

.container {
    width: 95%;
    // divider
    @include gray_plane_underline();
}
.header {
    height: 65px;
    @include gray_plane_underline;
    .container-fluid {
        padding-left: 0;
    }
    .navbar {
        z-index: 2;
        background-color: $wrapper_bg_color;
        .logged_in_nav {
            border-radius: 20px;
        }
    }
    .navbar-brand {
        a {
            color: $notion_gray;
            font-size: xx-large;
            text-decoration: none;
        }
    }

    .navbar-dark .notify-btn {
        margin-top: 4px;
        padding: 8px;
        .fa-bell {
            padding-left: 7px;
        }
    }
    .navbar-nav li .nav-link {
        color: $notion_gray;
        list-style: armenian;
        @include gray_dotted_underline;
    }
}

// home timeline
.feed_content_wrapper {
    margin-top: 12px;
    .feed_content {
        margin: auto;
        margin-bottom: 8px;
        width: 95%;
        background-color: $feed_content_bg_color;
        color: $notion_font_gray;
        .card-body {
            padding: 10px;
            padding-top: 12px;
            border: 1px solid $card_border;
            border-radius: 10px;
            .post_author_wrap {
                a {
                    &:hover,
                    &:active {
                        text-decoration: underline;
                        text-decoration-color: $divider_gray;
                    }
                }
                .post_author_img {
                    max-height: 30px;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    margin-right: 4px;
                }
            }
            a {
                color: $notion_gray;
                text-decoration: none;
                p {
                    display: flex;
                    height: 18px;
                    line-height: 18px;
                    input {
                        display: block;
                        margin-right: 3px;
                        margin-top: auto;
                    }
                    span {
                        line-height: 21.5px;
                    }
                }
                .posted_ago {
                    position: absolute;
                    top: 5px;
                    right: 9px;
                }
            }
        }
    }
}

// road btn
.road_btn_wrap {
    width: 95%;
    padding: 3px;
    padding-top: 0px;
    .road_btn {
        background-color: $feed_content_bg_color;
        a {
            color: #fff;
            display: block;
            text-decoration: none;
        }
    }
}

// no_more_posts_msg
.no_more_posts_msg {
    text-align: center;
}

// footer
.footer {
    padding-top: 5px;
}
.footer .nav {
    padding-top: 8px;
    border-top: 2px solid $divider_gray;
    width: 100%;
    height: 60px;
    $bettween_footer_btn: 6px;
    :not(:last-child) {
        margin-right: $bettween_footer_btn;
    }
    .nav-item {
        width: calc(33% - $bettween_footer_btn/2);
        background-color: $feed_content_bg_color;
        border: 1px solid $card_border;
        .nav-link {
            color: $notion_gray;
            margin: auto;
            height: 100%;
            text-align: center;
            padding: 0;
            p,
            i {
                color: $notion_gray;
                margin: auto;
                text-align: center;
                line-height: 100%;
            }
            i {
                color: $notion_font_gray;
            }
        }
    }
}
