// consts
$wrapper_width: 375px;
$header_height: 65px;
$footer_heigth: 60px;
$wrapper_bg_color: rgb(18, 19, 20);
$notion_gray: rgba(255, 255, 255, 0.81);
$notion_font_gray: rgb(158, 150, 137);
$divider_gray: rgb(102, 94, 83);

// feed_consts
$feed_content_bg_color: rgb(28, 30, 31);
$card_border: rgba(140, 130, 115, 0.17);

// components

@mixin gray_dotted_underline {
    border-bottom: dotted;
    border-color: $notion_gray;
    border-width: 1px;
}
@mixin gray_plane_underline {
    border-bottom: double;
    border-color: $divider_gray;
    border-width: 2px;
}
@mixin feed_component_base {
    margin: auto;
    margin-bottom: 8px;
    width: 95%;
    background-color: $feed_content_bg_color;
    color: $notion_font_gray;
}

@mixin feed_content_card {
    padding: 10px;
    padding-top: 12px;
    border: 1px solid $card_border;
    border-radius: 10px;
}

// application base wire

body,
html {
    width: $wrapper_width;
    max-width: $wrapper_width;
    margin: auto;
    background-color: $wrapper_bg_color;
    color: $notion_gray;
}
.app_wrapper {
    height: 100vh;
    height: 100dvh;
    width: 100%;
    margin: inherit;
    background-color: $wrapper_bg_color;
    border: 1px solid $divider_gray;
    padding: 8px;
}
.app_content {
    width: 100%;
    margin: inherit;
    height: calc(100% - ($header_height + $footer_heigth + 20px));
    overflow-y: scroll;
    padding-top: 8px;
}

.container {
    width: 95%;
    // divider
    @include gray_plane_underline();
}
.header {
    height: 65px;
    position: relative;
    @include gray_plane_underline;
    .header_nav_wrapper {
        width: 100%;
        min-width: 100%;
    }
    .container-fluid {
        padding-left: 0;
    }
    .navbar {
        z-index: 3;
        background-color: $wrapper_bg_color;
        .logged_in_nav {
            border-radius: 20px;
        }
    }
    .navbar-brand {
        a {
            color: $notion_gray;
            font-size: xx-large;
            text-decoration: none;
        }
    }

    .navbar-dark .notify-btn {
        margin-top: 4px;
        width: 60px;
        padding: 8px;
        text {
            display: none;
        }
        &:first-child(1) {
            display: none;
        }
        .fa-bell {
            display: inline;
        }
        span {
            display: inline;
            margin-right: 4px;
        }
    }
    .navbar-nav li .nav-link {
        color: $notion_gray;
        list-style: armenian;
        text-align: center;
        @include gray_dotted_underline;
    }
    // notification
    $notify_sideber_width: 270px;
    .notification_offcanvas {
        max-width: $notify_sideber_width;
        position: absolute;
        z-index: 5;
        height: calc(100vh - 30px);
        background-color: $feed_content_bg_color;
        left: -9px;
        .btn-close {
            background-color: #fff;
            border: 2px solid $divider_gray;
        }
        .offcanvas-body {
            padding: 2px;
            border: 1px solid $divider_gray;
            .notification_content {
                border-bottom: 1px solid $divider_gray;
                width: 100%;
                min-height: 60px;
                height: auto;
                margin: 0 auto;
                text-align: center;
                .notified_micropost_link {
                    display: block;
                }
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
                .notify_msg {
                    margin-bottom: 4px;
                    i {
                        margin-right: 4px;
                    }
                    .fa-heart {
                        color: rgb(250, 44, 139);
                    }
                }
            }
        }
    }
    .modal-backdrop {
        display: none;
    }
}

// home timeline
.feed_content_wrapper,
.lifelog_wrapper {
    margin-top: 12px;
    .feed_content {
        @include feed_component_base();
        .card-body {
            @include feed_content_card();
            .post_author_wrap {
                a {
                    &:hover,
                    &:active {
                        text-decoration: underline;
                        text-decoration-color: $divider_gray;
                    }
                }
                .post_author_img {
                    max-height: 30px;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    margin-right: 4px;
                }
            }
            a {
                color: $notion_gray;
                text-decoration: none;
                p {
                    display: flex;
                    height: 18px;
                    line-height: 18px;
                    input {
                        display: block;
                        margin-right: 3px;
                        margin-top: auto;
                    }
                    span {
                        line-height: 21.5px;
                    }
                }
                .posted_ago {
                    position: absolute;
                    top: 5px;
                    right: 9px;
                }
            }
        }
    }
}

// explore
.input-group {
    display: block;
    .search_textarea {
        background-color: $feed_content_bg_color;
        width: 60%;
        display: inline-block;
        color: $notion_gray;
    }
    .search_btn,
    .reset_btn {
        margin-bottom: 3px;
        width: 18%;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        font-size: 15px;
        padding: 0;
        color: $notion_gray;
    }
    .sort_btn {
        margin-top: 3px;
    }
}
.filters_wrapper {
    width: 100%;
    .sort_box {
        margin-top: 10px;
        display: flex;
        .form-check {
            $form_width: 50%;
            width: $form_width;
            padding-right: calc($form_width / 25);
        }
        background-color: $feed_content_bg_color;
        select {
            background-color: $notion_font_gray;
        }
        p {
            width: 100%;
            max-width: 100%;
            .sort_label {
                width: 50%;
            }
        }
        .sort_end_btn {
            color: $notion_gray;
            text-align: center;
            border: 2px solid $notion_font_gray;
            text-decoration: none;
        }
    }
}

.search_filters {
    width: 100%;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 2px solid $notion_font_gray;
}

// pagination
.searched_results {
    :last-child {
        margin-bottom: 20px;
    }
}
.pagination {
    background-color: $wrapper_bg_color;
    border-top: 2px solid $divider_gray;
    bottom: 86px;
    position: fixed;
    z-index: 2;
    width: $wrapper_width - 20px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-around;
    span {
        min-width: 30px;
        a {
            text-decoration: none;
        }
    }
    .next,
    .first,
    .prev {
        margin-right: 10px;
    }
}
.searched_user {
    display: block;
    width: 95%;
    height: 60px;
    display: flex;
    margin: 8px 0px;
    position: relative;
    border: 2px solid $notion_font_gray;
    text-decoration: none;
    background-color: $feed_content_bg_color;
    .user_img {
        $user_img_size: 40px;
        width: $user_img_size;
        height: $user_img_size;
        max-width: $user_img_size;
        max-height: $user_img_size;
        margin-right: 5px;
        margin-left: 7px;
        margin-top: 7px;
    }
    .user_following {
        line-height: 50px;
    }
    p {
        line-height: 50px;
        color: $notion_gray;
        text-decoration: none;
        margin-right: 45px;
    }
    .follow_btn {
        position: absolute;
        right: 6px;
        margin-top: 13px;
    }
}

// road btn
.road_btn_wrap {
    width: 95%;
    padding: 3px;
    padding-top: 0px;
    .road_btn {
        background-color: $feed_content_bg_color;
        a {
            color: #fff;
            display: block;
            text-decoration: none;
        }
    }
}

// no_more_posts_msg
.no_more_posts_msg {
    text-align: center;
}

// micropost show
.post_btn_micropost_show {
    margin-bottom: 8px;
    height: 100%;
    padding: 2px;
    margin-left: 3px;
    &:focus {
        border: 2px solid blue;
    }
}
@mixin console_btn {
    width: 300px;
    margin: 0 auto;
    display: block;
}
.btn_save {
    @include console_btn();
}
.btn_delete {
    @include console_btn();
}
.micropost_delete_confirmation {
    background-color: $feed_content_bg_color;
    border-radius: 5px;
    border: 2px solid $divider_gray;
    margin-bottom: 15px;
    p {
        text-align: center;
        color: $notion_font_gray;
    }
    h1 {
        display: flex;
        div {
            flex-grow: 0.5;
            a,
            input {
                line-height: 35px;
                width: 70%;
                height: 40px;
                display: block;
                margin: 0 auto;
            }
            input {
                line-height: 28px;
            }
        }
    }
}
@mixin micropost_table {
    color: #fff;
    margin-bottom: 10px;
    tbody {
        tr {
            border-bottom: 1px solid $divider_gray;
            .value {
                text-align: center;
            }
            .alert_lifelog_function {
                max-width: 80%;
                margin-left: auto;
                font-size: 13px;
                text-align-last: left;
            }
        }
        &:first-child {
            border-top: 1px solid $divider_gray;
        }
        .post_datetime {
            p {
                margin-bottom: 4px;
            }
        }
        input,
        select {
            background-color: $feed_content_bg_color;
            border: 2px solid $divider_gray;
            color: #fff;
        }
    }
}
.micropost_show_table {
    @include micropost_table();
}
.micropost_new_table {
    @include micropost_table();
}
.micropost_edit_table {
    @include micropost_table();
}
.video_uploader_post_new {
    padding: 4px;
    margin-bottom: 16px;
}
.user_edit_table {
    @include micropost_table();
}
.like_console {
    text-align: right;
    .button_to {
        display: inline;
    }
    .btn {
        font-size: 15px;
        padding: 2px;
        margin-right: 3px;
    }
}
.micropost_create_comment {
    background-color: $feed_content_bg_color;
    border: 4px solid #fff;
    height: auto;
    padding: 8px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 8px;
    p {
        margin-bottom: 4px;
        font-weight: bold;
        color: $notion_font_gray;
    }
    .btn {
        font-size: 15px;
        padding: 2px;
        margin-right: 3px;
    }
    #comment_content {
        display: block;
        width: 95%;
        margin: 0 auto;
        min-height: auto;
        margin-bottom: 8px;
        background-color: rgb(59, 59, 59);
        border: 1px solid $divider_gray;
        color: #fff;
    }
}
.micropost_comments_feed {
    .feed_content {
        @include feed_component_base();
        @include feed_content_card();
        .comment_user {
            height: 30px;
            line-height: 30px;
            a {
                display: flex;
                color: $notion_font_gray;
                img {
                    border-radius: 16px;
                    margin-right: 5px;
                    height: 30px;
                }
            }
        }
    }
}
.micropost_create_btn {
    margin-bottom: 8px;
}
.micropost_show_more_colmun {
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
    span {
        font-size: 110%;
    }
}
.video_expand {
    border: 1px solid $divider_gray;
    &:active {
        border: 2px solid #fff;
    }
    color: $notion_font_gray;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
    padding: 5px;
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
    text-align: center;
}
.micropost_video_modal {
    .modal-content {
        width: 350px;
        margin: 0 auto;
        background-color: $feed_content_bg_color;
        .modal-header {
            border-bottom: 1px solid $divider_gray;
        }
        .modal-footer {
            border-top: 1px solid $divider_gray;
            .close_btn {
                border: 1px solid $divider_gray;
                &:active {
                    border: 3px solid blueviolet;
                }
                background-color: $wrapper_bg_color;
            }
        }
    }
}
// user#show
.user_show {
    .lifelog_wrapper:last-child {
        color: red !important;
    }
}
.user_show_haeder {
    border-bottom: 2px solid $divider_gray;
    .sec {
        width: 100%;
        h4 {
            $user_header_height: 70px;
            height: $user_header_height;
            width: 100%;
            display: flex;
            .user_img {
                width: $user_header_height;
                height: $user_header_height;
                border-radius: 80px;
                display: block;
                border: 2px solid $divider_gray;
            }
            .user_console {
                margin: 20px 10px 0px auto;
                height: 40px;
                width: 100px;
                a {
                    color: #fff;
                }
            }
        }
        h3 {
            font-weight: bold;
        }
        .user_relationships {
            display: flex;
            a {
                margin-right: 20px;
                color: $notion_font_gray;
                text-decoration: underline;
            }
        }
    }
    .bio {
        margin: 10px auto;
    }
}
.lifelog_wrapper {
    background-color: #696969;
    padding: 10px;
    .lifelog_date a {
        color: #fff;
    }
}
.micropost_exec_duration {
    margin-left: 10px;
    margin-bottom: 4px;
    color: $notion_gray;
}
.user_img_preview {
    border-radius: 45px;
    width: 60px;
    height: 60px;
}
.form-control {
    background-color: $feed_content_bg_color;
    color: #fff;
    border: 2px solid $divider_gray;
}
.user_edit_console_btns {
    display: flex;
    input,
    a {
        display: block;
        width: 38%;
        margin: 0 auto;
        height: 35px;
        text-align: center;
    }
}
.account_deletion * {
    background-color: $feed_content_bg_color;
    color: $notion_gray;
}
.account_deletion input {
    background-color: $wrapper_bg_color;
    border: 2px solid $divider_gray;
    color: #fff;
}
.lifelog_edit_table {
    color: $notion_font_gray;
    textarea {
        background-color: $feed_content_bg_color;
        color: $notion_font_gray;
    }
}
.lifelog_show_btns {
    display: flex;
    height: 40px;
    margin-bottom: 20px;
    a,
    input {
        width: 150px;
        margin: 0 auto;
    }
    input {
        margin-left: 15px;
    }
}
.lifelog_show_feed {
    .lifelog_wrapper {
        background-color: $wrapper_bg_color;
    }
}
.lifelog_overview {
    padding: 10px;
    background-color: $feed_content_bg_color;
}
.lifelog_modal {
    .modal-dialog {
        max-width: $wrapper_width - 30px;
        .modal-body img {
            width: 95%;
        }
    }
}
// footer
.footer {
    padding-top: 5px;
    position: relative;
    .home_new_micropost_btn {
        font-size: 63px;
        position: absolute;
        text-decoration: none;
        bottom: $footer_heigth;
        right: 15px;

        i {
            color: $notion_gray;
            $size: 64px;
            width: $size;
            height: $size;
            border-radius: 10px;
            background-color: $feed_content_bg_color;
            border: 2px solid rgb(35, 131, 226);
            margin-left: 1px;
            margin-bottom: 1px;
            &::before {
                margin-left: 4px;
            }
            &:hover {
                color: white;
            }
        }
    }
}
// signup
.singup_wrapper,
.login_wrapper {
    h3 {
        color: $notion_gray;
    }
    input {
        &:not(.btn) {
            background-color: $feed_content_bg_color;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 90%;
            border: 2px solid $divider_gray;
            color: #fff;
            &:focus {
                background-color: $feed_content_bg_color;
            }
        }
    }
    label {
        left: none;
        padding-left: calc((100% - 85%) / 2);
    }
}
.footer .nav {
    padding-top: 8px;
    border-top: 2px solid $divider_gray;
    width: 100%;
    height: 60px;
    $bettween_footer_btn: 6px;
    :not(:last-child) {
        margin-right: $bettween_footer_btn;
    }
    .nav-item {
        width: calc(33% - $bettween_footer_btn/2);
        background-color: $feed_content_bg_color;
        border: 1px solid $card_border;
        .nav-link {
            color: $notion_gray;
            margin: auto;
            height: 100%;
            text-align: center;
            padding: 0;
            p,
            i {
                color: $notion_gray;
                margin: auto;
                text-align: center;
                line-height: 100%;
            }
            i {
                color: $notion_font_gray;
            }
        }
    }
}
