<ul class="nav">
  <li class="nav-item">
    <%=link_to "signup", signup_path  %>
  </li>
  <li class="nav-item">
    <%=link_to "profile", signup_path %>
  </li>
  <li class="nav-item">
    <%=link_to "login", "#"  %>
  </li>
  <li class="nav-item">
  </li>
</ul>
